.container-fluid{
  background-color: #ffff00;
}
.container{
}
header {
  background-color: #red;
        height: 150px;
}

nav {
  background-color: green;
}
section {
  background-color: red;
}

aside {
  background-color: Aqua;
}

section, aside {
  height: 200px
}

.promo {
  background-color: orange;
}

footer {
  background-color: black;
}

nav, footer {
  height: 50px;
}
